/*
Justin Tilley
Project 1
MIU Term 1211
*/

body{
	background: #E4EDF0;
}

header h1{
	font-style: bold;
	color: blue;
	text-align:center;
	border: 1px solid blue;
}

fieldset{
	line-height: 30px;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 10px;
	background: #C3D0DB;
}

fieldset ul{
	list-style: none;
}

#radios{
	list-style-type: none;
}

#exp{
	color: gray;
}

#make{
	margin-left: 8px;
}

#groups{
	margin-left: 20px;
}

#result{
	border: 1px solid gray;
	background: white;
	padding: 2px;
	margin-left: 10px;
}

#comments{
	margin-left: 40px;
}

#submit{
	margin-left: 20px;
	font-size: 20px;
	text-decoration: underline;
}

#datastorage a{
	border: 1px solid black;
	border-radius: 10px;
	background: #D6D5E3;
	padding: 5px;
	margin: 10px;
}

#datastorage{
	padding: 10px;
	background: #B4B8CF;
	margin-top: 20px
}

#searchbox{
	padding: 10px;
}

#search{
	font-size: 12px;
    color: #999;
    padding: 4px 10px 5px 30px;
    width: 140px;
    border: 1px solid gray;
    border-radius: 10px;
}

#searchsubmit{
	border: 1px solid #00748f;
	border-radius: 10px;
	height: 28px;
	width: 65px;
}

label.error{
	display: block;
	margin: 10px;
	color: red;
}
